# Server Configuration
PORT=8080

# JWT Configuration (REQUIRED)
JWKS_URL=https://retich-auth.ashyplant-a8bd2417.francecentral.azurecontainerapps.io/.well-known/jwks.json
JWT_ISSUER=https://retich-auth.ashyplant-a8bd2417.francecentral.azurecontainerapps.io/

# Microservices URLs
AUTH_SERVICE_URL=https://retich-auth.ashyplant-a8bd2417.francecentral.azurecontainerapps.io
USER_SERVICE_URL=http://user:8083
MESSAGING_SERVICE_URL=http://messaging:8082

# Infrastructure
NATS_URL=nats://nats:4222
REDIS_URL=redis:6379

# Logging
LOG_LEVEL=info
