# Environment: "development" or "production"
APP_ENV=development

# API Gateway port
PORT=8080

# Microservices endpoints
MESSAGING_SERVICE_URL=http://localhost:8082
AUTH_SERVICE_URL=http://localhost:8081
USER_SERVICE_URL=http://localhost:8083
